.container {
  position: relative;
  max-width: 800px; /* largeur maximale */
  margin: 0 auto; /* centrer le container */
  text-align: center;/* centrer le texte */

}

div.entete{
background-color: #E3D559;
overflow: auto;
white-space: nowrap;
width:100% ;
padding-right: 40px;
margin-bottom: 20px;
}

div.entete a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 20px;
}

div.entete a:hover {
  background-color: #777;
}

.mem{
  background-color:grey;
}

h1{
  text-align: center;
}

h3{
  text-align: center;
  font-style: italic;
}

.im{
  width:105%;
}

hr{
   height: 1px;
   background-color: #e5e5e5;
   border: none;
 }

 #biblio{
  background-color:#E3D559; 
  padding: 25px; 
  color: #353b48;
 }